/*
    @package MEDICALERTTHEMEPREMIUM
    ===============================
        BLOCK COVER - GUTTENBERG
    ===============================

*/


.wp-block-cover .wp-block-cover__inner-container{
    background: #00000091;
    margin: 4% 5%;
}
.wp-block-cover .wp-block-cover__inner-container .wp-block-columns{
    margin: 3% auto;
}