/*
    @package MEDICALERTTHEMEPREMIUM
    =============================================
        MOST RECENT HORIZONTAL COMPONENT SCSS
    =============================================

*/

.maf-component-most-recent-horizontal figure{
    padding:0;
}
.maf-component-most-recent-horizontal article{
    width: 100%;
    margin: 0 auto;
    background: #F0F9F9;
}
.maf-component-most-recent-horizontal article .maf-excerpt-wrapper{
    padding: 3%;
}
.maf-component-most-recent-horizontal article .maf-image-wrapper{
    padding: 0%;
}
.maf-component-most-recent-horizontal h3{
    font-size: 1.33em;
    font-weight: bold;
    font-weight: 600;
}