/*
    @package MEDICALERTTHEMEPREMIUM
    ===============================
       PAGE CONTENT PAGE HEADERS
    ===============================

*/

.maf-page-header{
    margin-bottom: 1em;
}
.maf-page-header h1.archive-title{
    margin: 0 0 0.2em;
}
.maf-page-header p.archive-meta{
    margin: 0;
}